<p>login works!</p>
<div class="login-form todo-container p-5 mb-5">
  <h5>Form Login</h5>
  <div>
    <input
      type="text"
      [formControl]="usernameControl"
      placeholder="Username"
      class="mt-2 w-100"
    />
    <input
      type="password"
      [formControl]="passwordControl"
      placeholder="Password"
      class="mt-2 w-100"
    />
  </div>

  <form class="example-form mt-2">
    <mat-form-field class="example-full-width">
      <mat-label>Gender</mat-label>
      <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto" />

      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{ option.name }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>

  <!-- Button to trigger login -->
  <button (click)="login()">Login</button>
</div>
