<p class="page-title">Product Works!</p>

<main class="todo-container">
  <h5>Create or Edit your tasks here</h5>
  
  <div class="add-task">
    <input 
      type="text" 
      [(ngModel)]="newTask" 
      placeholder="Add/Edit Todo" 
      class="task-input" 
    />

    <button 
      class="add-edit-btn" 
      (click)="addOrEditTask(newTask)"
    >
      {{ editingTask ? 'Save' : 'Add' }}
    </button>
  </div>

  <ul class="task-list">
    <li 
      *ngFor="let todoItem of todoList" 
      [ngClass]="{ completed: todoItem.status }"
      class="task-item"
    >
      <input 
        type="checkbox" 
        [(checked)]="todoItem.status" 
        (change)="toggleCompleted(todoItem.id)" 
        class="task-checkbox"
      />
      
      <span class="task-name" [class.completed]="todoItem.status">
        {{ todoItem.name }}
      </span>

      <div class="task-actions">
        <button 
          class="edit-btn" 
          (click)="editTask(todoItem)"
        >
          Edit
        </button>
        
        <button 
          class="delete-btn" 
          (click)="deleteTask(todoItem.id)"
        >
          Delete
        </button>
      </div>
    </li>
  </ul>
</main>
