<div class="card">
    <p-carousel [value]="products" [numVisible]="1" [numScroll]="1" [circular]="false"
        [responsiveOptions]="responsiveOptions">
        <ng-template pTemplate="item" let-product>
            <div class="relative m-2 p-4">
                <div class="relative mx-auto">
                    <img src="{{ product.image }}" [alt]="product.name" class="banner-image" />
                    <div class="image-title">
                        <h2>{{ product.name }}</h2>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-carousel>
</div>

<div class="container-fluid text-center">
    <h2>Our Product Release</h2>
</div>

<div class="detailed-card">
    <p-carousel [value]="products" [numVisible]="5" [numScroll]="5" [circular]="false" [responsiveOptions]="responsiveOptions">
        <ng-template pTemplate="item" let-product>
            <div class="border-card">
                <div class="image-container">
                    <img src="{{ product.image }}" [alt]="product.name" class="card-image" />
                    <p-tag [value]="product.inventoryStatus" 
                           [severity]="getSeverity(product.inventoryStatus)" 
                           class="product-status">
                    </p-tag>
                </div>
                <div class="product-details">
                    <div class="product-name">{{ product.name }}</div>
                    <div class="product-price">{{ '$' + product.price }}</div>
                    <div class="product-actions">
                        <p-button icon="pi pi-heart" severity="secondary" [outlined]="true"></p-button>
                        <p-button icon="pi pi-shopping-cart" styleClass="ml-2"></p-button>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-carousel>
</div>

<!-- <div class="card">
    <p-carousel [value]="products" [numVisible]="5" [numScroll]="5" [circular]="false"
        [responsiveOptions]="responsiveOptions">
        <ng-template pTemplate="item" let-product>
            <div class="border border-surface rounded-border m-2 p-4">
                <div class="mb-4">
                    <div class="relative mx-auto">
                        <img src="{{ product.image }}" [alt]="product.name" class="banner-image" />

                        <p-tag [value]="product.inventoryStatus" [severity]="getSeverity(product.inventoryStatus)"
                            class="absolute" [ngStyle]="{ 'left.px': 5, 'top.px': 5 }">
                        </p-tag>
                    </div>
                </div>
                <div class="mb-4 font-medium">{{ product.name }}</div>
                <div class="flex justify-between items-center">
                    <div class="mt-0 font-semibold text-xl">{{ '$' + product.price }}</div>
                    <span>
                        <p-button icon="pi pi-heart" severity="secondary" [outlined]="true"></p-button>
                        <p-button icon="pi pi-shopping-cart" styleClass="ml-2"></p-button>
                    </span>
                </div>
            </div>
        </ng-template>
    </p-carousel>
</div> -->